<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>524505229827-et5fcq1ucto262ep0u3lcfaqs4h7aa33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524505229827-et5fcq1ucto262ep0u3lcfaqs4h7aa33</string>
	<key>API_KEY</key>
	<string>AIzaSyC3b1TxzQM-e5fpiCqMZaBzMGzM8ZZdwTk</string>
	<key>GCM_SENDER_ID</key>
	<string>524505229827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team1.cosc4355Project</string>
	<key>PROJECT_ID</key>
	<string>cosc4355project</string>
	<key>STORAGE_BUCKET</key>
	<string>cosc4355project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524505229827:ios:78f90900d48f0b86</string>
	<key>DATABASE_URL</key>
	<string>https://cosc4355project.firebaseio.com</string>
</dict>
</plist>